{{define "top_menu"}}
<header>
<h1 class="text-center">ttkc mysite(仮)</h1>
    <nav class="sticky-top">
        <ul>
            <li id="home" class="current"><a href="home.html">Home</a></li>
            <li id="news"><a href="news.html">News</a></li>
            <li id="about"><a href="about.html">About</a></li>
            <li id="program"><a href="program.html">Program</a></li>
            <li id="blog"><a href="blog.html">Blog</a></li>
            <li id="other"><a href="other.html">Other</a></li>
        </ul>
    </nav>
</header>
{{end}}