<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- bootstrap関係 -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- Markdownエディタ -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

<title>ブログエディタ</title>
</head>

<body>
   <div>
      <h2>Markdownの入力フォーム</h2>
      <form id="editor-form" class="">
         <textarea id="mde" name="markdown" rows="8" cols="40"></textarea>
      </form>
      <button type="button" onclick="draw_preview()" class="uk-button uk-button-default uk-margin-auto">
         Preview
      </button>

   <h2>HTMLに変換した結果</h2>
   <div class="col-md-12 ml-auto mr-auto text-left" style="border: 3px solid #ebebeb;">
      <div class="preview" id="marked-preview"></div>
   </div>

   <h2>変換結果コピペエリア</h2>
   <textarea onclick="this.select();" id="result" class="uk-textarea" name="result" rows="8" cols="100" readonly></textarea>
</div>
<footer><p class="uk-text-center">Copyright 2018 konightch All Rights Reserved.</p></footer>

<script>
var mde = new SimpleMDE({ element: document.getElementById("mde"), forceSync: true, spellChecker: false });

marked.setOptions({
    sanitize: true,
    sanitizer: escape,
    breaks : true
});

function draw_preview() {
    var markdown = document.getElementById("editor").value;
    var html = marked(markdown);
    $('#marked-preview').html(html);
    $('#result').val(html);
}

//ウィンドウ全域でD&D禁止
addEventListener("dragover", (event)=>{
    event.preventDefault();
    event.dataTransfer.dropEffect = "none";
});
addEventListener("drop", (event)=>{
    event.preventDefault();
});

const dnd = document.getElementsByClassName("CodeMirror-scroll")[0];
// エディタ領域のみD&D許可
dnd.addEventListener("dragover", (event)=>{
    event.preventDefault();
    event.dataTransfer.dropEffect = "move";
});
dnd.addEventListener("drop", async(event)=>{
    event.preventDefault();
    mde.value(await fileReader(event.dataTransfer.files[0]));
    mde.codemirror.focus();
});

// ここら辺はお好みで
function fileReader(blob){
    return new Promise((res, rej)=>{
        const fr = new FileReader();
        fr.addEventListener("load", () => res(fr.result));
        fr.addEventListener("error", () => rej(fr.error));
        fr.readAsText(blob);
    });
}
</script>
</body>
</html>